.title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    font-size: 35px;
    color: white;
}

.calc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 80px;
}

.calc-wrapper {
    width: 400px;
    height: 600px;
}

.row {
    display: flex;
    width: 100%;
}