.navbar-container {
    background-color: #f0ebe8;
    padding: 25px;
}

.navbar-links-container {
    display: flex;
    justify-content: space-around;
}

.navbar-links {
    text-decoration: none;
    color: rgb(8, 1, 1);
    font-weight: bold;
    font-size: 25px;
}