html, body {
    margin: 0;
    padding: 0;
}

.container-box {
    display: flex;
    justify-content: space-around
}

.container-box > div {
    height: 30px;
    width: 30px;
    border: 1px solid black;
}



div#green {
    background-color: pink;
}

div#green {
    background-color: green;
}

div#blue {
    background-color: blue;
}


