.display-screen {
    display: flex;
    height: 4em;
    flex: 1;
    background-color: black;
    color: white;
    outline: 1px solid grey;
    justify-content: flex-end;
    padding-right: 0.4em;
    font-weight: bold;
    font-size: 1.5em;
    align-items: center;
}