.home-container{
    background-position: bottom;
    background-size: cover;
    background-image: url("");
    height: 700px;
}

.title {
    color: #c42d07;
    font-weight: bold;
    text-align: center;
    font-size: 120px;
    padding-top: 10%;
}

.subtitle {
    color: #f1eaea;
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
}

.tips-intro {
    color: white;
    text-align: center;
    margin: 20px;
    font-size: 35px;
}

.tips-title {
    margin-top: 70px;
    color: #e9d9ca;
    font-size: 50px;
    text-align: center;
    padding: 20px;
}

.tips {
    background-color: #e9d9ca;
    color: #8a422f;
    font-size: 30px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    padding: 20px;
}

.tips-info {
    background-color: #e9d9ca;
    font-size: 20px;
    line-height: 30px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 15px;
}