.login-container {
    text-align: center;
    margin-top: 5%;
}

.login-box {
    padding: 20px;
    margin-top: 20px;
    border: none;
    background-color: lightgrey;

}

.login-box,
.login-box::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 1.8;
}

.login-button {
    margin-top: 25px;
    background-color: rgb(29, 161, 242);
    padding: 20px;
    width: 290px;
    color: white;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
}

.login-button:hover {
    background-color: lightskyblue;
}