.equal-button {
    display: flex;
    height: 4em;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: #80DED9;
    color: #37393A;
    outline: 1px solid grey;
}   